[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */env/*
    */venv/*
    backend/api/users/apps.py
    manage.py
    backend/api/management/*
    backend/api/core/middleware/*
    backend/settings.py
    asgi.py
    wsgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError